body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: Arial;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.divider {
    color: black;
    height: 1px;
    width: 100%;
    margin: 0 auto 0;
    background-color: black;
    color: black;
}

.navbar-brand h1 {
    font-family: Arial, sans-serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 auto 0;
    line-height: 0.8;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.menu-item {
    background-color: blue;
    color: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  background-color: lightgray;
}

.first {
  margin-top: -9px;
}

.last {
  margin-bottom: -8px;
}

.content {
  background-color: crimson;
  margin: auto;
  float: right;
}

@media (max-width: 767px) {
  .content {
    width: auto;
    margin: 0 20px 0 20px;    
  }
}

#nav-list {
    margin-top: 10px;
    padding-bottom: 0;
}

#collapsable-nav a {
    background: green;
    color: white;
    margin: 0;
    padding 0;
    height: 100%;
    width: 100%;
}
